$blue: rgb(139, 157, 195);
$darkBlue: rgb(059, 089, 152);
$lightBlue: rgb(223, 227, 238);
$grey: rgb(247, 247, 247);
$white: rgb(255, 255, 255);

html, body, #root, .app {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.app {
	font-family: Arial;
}

.app .header,
.app .body,
.app .footer {
	box-sizing: border-box;
}

.app .header,
.app .footer {
	height: 10%;
	font-size: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app .header {
	background: $darkBlue;
	color: white;
}

.app .body {
	background: $grey;
	color: $blue;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	height: 80%;
	padding: 4vw;
}

.app .footer  {
	background: $lightBlue;
}